@font-face {
    font-family: gandom;
    src: url(./assets/fonts/gandom-font/Gandom.ttf);
}

img{
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

nav {
    font-family: gandom;
    box-shadow: 0 1px 0.5rem rgba(152, 151, 151, 0.364);
    margin-bottom: 2rem;
}


.swiper {
    width: 100%;
}


.swiper-button-next,
.swiper-button-prev {
    filter: invert(30%) sepia(80%) saturate(700%) hue-rotate(360deg);
}

.mySwiper1 .swiper-pagination-bullet-active {
    filter: invert(30%) sepia(80%) saturate(700%) hue-rotate(360deg);
}

.mySwiper2{
    margin-top: 2.5rem;
}

